.button-wrapper {
  position: absolute;
  bottom: 10%;

  .button {
    border: 0;
    color: #aa7959;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    border: 8px solid transparent;
    background-color: transparent;
    -o-border-image: url(https://pomogarden.s3.us-west-1.amazonaws.com/unpressed.png) 10 stretch;
    border-image: url(https://pomogarden.s3.us-west-1.amazonaws.com/unpressed.png) 10 stretch;
    box-shadow: inset #e8cfa6 1px 0px 500px 500px;
    text-decoration: none;

    &:hover {
      opacity: 1;
      -o-border-image: url(https://pomogarden.s3.us-west-1.amazonaws.com/pressed.png) 10 stretch;
      border-image: url(https://pomogarden.s3.us-west-1.amazonaws.com/pressed.png) 10 stretch;
      box-shadow: inset #dcb98a 1px 0px 500px 500px;
    }
  }
}

.auth-container {
  .card {
    .card-body {
      --bs-card-spacer-y: 3rem;
      --bs-card-spacer-x: 2rem;
    }
  }
}

.garden-container {
  .garden-wrapper {
    position: relative;
    margin: auto;

    .field {
      // width: 500px;
      -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -moz-crisp-edges;
      image-rendering: pixelated;
      position: absolute;
      top: 0;
      left: 0;
    }

    .plot-wrapper {
      position: absolute;
      left: 0;
      z-index: 1;
      height: 100%;
      place-items: center;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "start middle end";
      margin:0 78px;

      .location-1 {
        grid-area: start;
      }
      .location-2 {
       grid-area: middle;
      }
      .location-3 {
        grid-area: end;
      }

      .plot {
        border: 0;
        padding: 0;
        margin: 0;
        width: 115px;
        height: 115px;
        background-color: transparent;
        position: relative;
        -ms-interpolation-mode: nearest-neighbor;
        image-rendering: -moz-crisp-edges;
        image-rendering: pixelated;
        opacity: 0.9;

        &:hover {
          opacity: 1;
          &::before {
            content: url("https://pomogarden.s3.us-west-1.amazonaws.com/water-hover.png");
            position: absolute;
            top: 0;
            left: 0;
            z-index: -2;
          }
        }

        &.watered::before {
          content: url("https://pomogarden.s3.us-west-1.amazonaws.com/watered.png");
          position: absolute;
          top: 0;
          left: 0;
          z-index: -2;
        }

        &.sowed::after {
          content: url("https://pomogarden.s3.us-west-1.amazonaws.com/sowed.png");
          position: absolute;
          z-index: -1;
          top: 10px;
          left: 0;
        }

        .carrot {
          position: relative;

          &.sprout {
            top: -7px;
          }

          &.seedling {
            top: -22px;
          }

          &.ripe {
            top: -30px;
          }
        }

        .pumpkin {
          position: relative;

          &.sprout {
            top: -6px;
            right: -6px
          }

          &.seedling {
            top: -12px;
          }

          &.ripe {
            top: -30px;
          }
        }

        .cauliflower {
          position: relative;

          &.sprout {
            right: -1px
          }

          &.seedling {
            top: -10px;
          }

          &.ripe {
            top: -20px;
          }
        }

        .raddish {
          position: relative;

          &.sprout {
            top: -6px;
            right: -1.5px
          }

          &.seedling {
            top: -25px;
          }

          &.ripe {
            top: -40px;
          }
        }
        .lettuce {
          position: relative;

          &.seedling {
            top: -10px;
          }

          &.ripe {
            top: -30px;
          }
        }

        .corn {
          position: relative;

          &.sprout {
            top: -25px;
          }

          &.seedling {
            top: -37px;
          }

          &.ripe {
            top: -165px;
          }
        }

        .tomato {
          position: relative;

          &.sprout {
            top: -6px;
          }

          &.seedling {
            top: -15px;
          }

          &.ripe {
            top: -30px;
          }
        }
      }
    }
  }
}

.alert-container {
  position: fixed;
  bottom: 0;
  margin: 1rem;
  display: none;
  z-index: 10000;

  .alertbox {
    background-image: url("https://pomogarden.s3.us-west-1.amazonaws.com/alert-small.png");
    width: 350px;
    height: 64px;
    position: relative;
    -webkit-animation: alert-out 0.5s linear 5s forwards;
    animation: alert-out 0.5s linear 5s forwards;

    p {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      margin-left: 75px;
    }
  }
}

@-webkit-keyframes alert-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes alert-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.modal {
  .modal-wrapper {
    height: 100%;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    .modal-dialog {
      margin: 0;
      width: 100%;

      .modal-content {
        .modal-header, .modal-body {
          border-radius: 0;
          border: none;
        }

        .modal-header {
          width: 100%;
          position: relative;
          margin: auto;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0;

          .modal-title {
            position: absolute;
            padding: 0 2rem;
            top: -65px;
            color: #5b4531;
          }

          // .btn-close {
          //   background: url("https://pomogarden.s3.us-west-1.amazonaws.com/close.png") center/1.9em auto no-repeat;
          //   cursor: pointer;
          // }

          .btn-close:focus {
            box-shadow: unset;
          }
        }
      }
    }
  }
}

.coin-symbol::before {
  content: url("https://pomogarden.s3.us-west-1.amazonaws.com/coin.png");
  position: relative;
  margin-right: 5px;
  top: 3px;
}

.shop {
  text-align: center;
  padding: 2rem 1rem 1rem;

  .shop-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .item-details, .buy-details {
      display: flex;
      align-items: center;

      span {
        margin: 0 1rem;
      }
    }
  }
}

.border-wood-lg-dark {
  background-color: transparent;
  border: 40px solid transparent;
  -o-border-image: url("https://pomogarden.s3.us-west-1.amazonaws.com/large-border-dark.png") 45 stretch;
     border-image: url("https://pomogarden.s3.us-west-1.amazonaws.com/large-border-dark.png") 45 stretch;
  box-shadow: inset #f3e5c2 1px 0px 500px 500px;
}

.border-wood-lg {
  background-color: transparent;
  border: 50px solid transparent;
  -o-border-image: url("https://pomogarden.s3.us-west-1.amazonaws.com/large-border.png") 45 stretch;
     border-image: url("https://pomogarden.s3.us-west-1.amazonaws.com/large-border.png") 45 stretch;
  box-shadow: inset #c39a6c 1px 0px 500px 500px;
}

.border-wood-md {
  border: 30px solid transparent;
  -o-border-image: url("https://pomogarden.s3.us-west-1.amazonaws.com/large-border.png") 45 stretch;
     border-image: url("https://pomogarden.s3.us-west-1.amazonaws.com/large-border.png") 45 stretch;
  box-shadow: inset #c39a6c 1px 0px 500px 500px;
}

.border-card {
  border: 14px solid transparent;
  -o-border-image: url("https://pomogarden.s3.us-west-1.amazonaws.com/card.png") 15 stretch;
     border-image: url("https://pomogarden.s3.us-west-1.amazonaws.com/card.png") 15 stretch;
  box-shadow: inset #dcb98a 1px 0px 500px 500px;
}

.border-card-sm {
  border: 8px solid transparent;
  -o-border-image: url("https://pomogarden.s3.us-west-1.amazonaws.com/card.png") 8 stretch;
     border-image: url("https://pomogarden.s3.us-west-1.amazonaws.com/card.png") 8 stretch;
  box-shadow: inset #dcb98a 1px 0px 500px 500px;
}

img {
  pointer-events: none;
}
