@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #4745db; */
  /* --white: #fff; */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100vh;
  font-size: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App, #root{
  width: 100%;
  height: 100%;
}

.App {
  /* background-color: var(--background); */
  display: grid;
  place-items: center;
}